{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block content %}
<div class="ltn__product-area ltn__product-gutter  no-product-ratting pt-50 mb-70 bg-light">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title">Featured Products</h1>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-12">
                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                    <!-- ltn__product-item -->
                    {% for i in prod %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="ltn__product-item ltn__product-item-2 text-center product-design">
                            <div class="product-img p-img">
                                <a href="{{i.get_absolute_url}}"><img class="image" src="{{i.featured_image}}" alt="#" style="height:300px;"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge">{{i.Discount}}% Off</li>
                                    </ul>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal-{{forloop.counter}}">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'cart_add' i.id %}" title="Add to Cart" >
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                            {% comment %} <a href="{% url 'cart_add' i.id %}" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a> {% endcomment %}
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="far fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-info product-info-design">
                                <div class="product-ratting">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                    </ul>
                                </div>
                                {% comment %} <h6><a href="product-details.html">{{i.product_name | truncatewords:10}}</a></h6> {% endcomment %}
                                <h2 class="product-title"><a href="{{i.get_absolute_url}}">{{i.product_name | truncatewords:3}}</a></h2>
                                <div class="product-price">
                                    <span>MVR {% call_sellprice i.price i.Discount %} .00</span>
                                    <del>MVR {{i.price}}.00</del>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ltn__product-tab-area ltn__product-gutter pt-70 mb-70 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title">Latest Product</h1>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content">

                    <div class="tab-pane fade active show" id="liton_tab_3_1">
                        <div class="ltn__product-tab-content-inner">
                            <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                <!-- ltn__product-item -->
                                {% for i in product %}
                                <div class="col-lg-12">
                                   
                                    <div class="ltn__product-item ltn__product-item-3 text-center product-design">
                                        <div class="product-img">
                                            <a href="{{i.get_absolute_url}}"><img src="{{i.featured_image}}" alt="#" style="height:300px;"></a>
                                            <div class="product-badge">
                                                <ul>
                                                    <li class="sale-badge">{{i.Discount}}% Off</li>
                                                </ul>
                                            </div>
                                            <div class="product-hover-action">
                                                <ul>
                                                    <li>
                                                        <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal-{{forloop.counter}}">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'cart_add' i.id %}" title="Add to Cart">
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                            <i class="far fa-heart"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info product-info-design" style="padding:25px 0px 15px !important;">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="{{i.get_absolute_url}}">{{i.product_name | truncatewords:3}}</a></h2>
                                            <div class="product-price">
                                                <span>MVR {% call_sellprice i.price i.Discount %} .00</span>
                                                <del>MVR {{i.price}}.00</del>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% comment %} <div class="ltn__product-item ltn__product-item-3 text-center">
                                        <div class="product-img">
                                            <a href="{% url 'product_details' i.id %}"><img src="/{{i.prod_img}}" alt="#"></a>
                                            <div class="product-badge">
                                                <ul>
                                                    <li class="sale-badge">-19%</li>
                                                </ul>
                                            </div>
                                            <div class="product-hover-action">
                                                <ul>
                                                    <li>
                                                        <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                            <i class="far fa-heart"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info product-info-design">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    <li class="review-total"> <a href="#"> (24)</a></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="{% url 'product_details' i.id %}">{{i.prod_name}}</a></h2>
                                            <div class="product-price">
                                                <span>MVR {{i.rate}}.00</span>
                                                <del>$ 46.00</del>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                {% endfor %}
                                <!-- ltn__product-item -->
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


 <!-- ABOUT US AREA START -->
 
<!-- ABOUT US AREA END -->

<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area bg-overlay-white-90--- bg-image pt-115 pb-110 d-none" data-bs-bg="{% static 'img/bg/26.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <!-- <img src="img/otheMVR/7.png" alt="About Us Image"> -->
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2--- ltn__secondary-color">N95 Facial Covering Mask</h6>
                        <h1 class="section-title">Grade A Safety Masks
                            For Sale. Haurry Up!</h1>
                        <p>Over 39,000 people work for us in more than 70 countries all over the
                            This breadth of global coverage, combined with specialist services</p>
                    </div>
                    <ul class="ltn__list-item-half clearfix">
                        <li>
                            <i class="flaticon-home-2"></i>
                            Activated Carbon
                        </li>
                        <li>
                            <i class="flaticon-mountain"></i>
                            Breathing Valve
                        </li>
                        <li>
                            <i class="flaticon-heart"></i>
                            6 Layer Filteration
                        </li>
                        <li>
                            <i class="flaticon-secure"></i>
                            Rewashes & Reusable
                        </li>
                    </ul>
                    <div class="btn-wrapper animated">
                        <a href="service.html" class="ltn__secondary-color text-uppercase text-decoration-underline">View Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->

<div class="ltn__product-area ltn__product-gutter  no-product-ratting pt-70 mb-70 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Trending Products</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                {% for i in trending %}
                <!-- ltn__product-item -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ltn__product-item ltn__product-item-3 text-center product-design">
                        <div class="product-img">
                            <a href="{{i.get_absolute_url}}"><img src="{{i.featured_image}}" alt="#" style="height:300px;"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">{{i.Discount}}% Off</li>
                                </ul>
                            </div>
                            <div class="product-hover-action">
                                <ul>
                                    <li>
                                        <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal-{{forloop.counter}}">
                                            <i class="far fa-eye"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart_add' i.id %}" title="Add to Cart">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                            <i class="far fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-info product-info-design" style="padding:25px 0px 15px !important;"
                        >
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="{{i.get_absolute_url}}">{{i.product_name | truncatewords:3}}</a></h2>
                            <div class="product-price">
                                <span>MVR {% call_sellprice i.price i.Discount %} .00</span>
                                <del>MVR {{i.price}}.00</del>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                {% endfor %}
            </div>
        </div>
    </div>

<!-- BLOG AREA START (blog-3) -->
{% comment %} <div class="ltn__blog-area pt-70 mb-45 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">News & Blogs</h6>
                    <h1 class="section-title">Latest Blogs</h1>
                </div>
            </div>
        </div>
        <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3 product-design-1">
                    <div class="ltn__blog-img">
                        <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg' %}" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief product-info-design-1">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Decorate</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">10 Brilliant Ways To Decorate Your Home</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3 product-design-1">
                    <div class="ltn__blog-img">
                        <a href="blog-details.html"><img src="{% static 'img/blog/2.jpg' %}" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief product-info-design-1">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Interior</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">The Most Inspiring Interior Design Of 2021</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3 product-design-1">
                    <div class="ltn__blog-img">
                        <a href="blog-details.html"><img src="{% static 'img/blog/3.jpg' %}" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief product-info-design-1">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Estate</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">Recent Commercial Real Estate Transactions</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>May 22, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3 product-design-1">
                    <div class="ltn__blog-img">
                        <a href="blog-details.html"><img src="{% static 'img/blog/4.jpg' %}" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief product-info-design-1">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Room</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">Renovating a Living Room? Experts Share Their Secrets</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3 product-design-1">
                    <div class="ltn__blog-img">
                        <a href="blog-details.html"><img src="{% static 'img/blog/5.jpg' %}" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief product-info-design-1">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Trends</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-details.html">7 home trends that will shape your house in 2021</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-details.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div> {% endcomment %}
<!-- BLOG AREA END -->

<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1--- pt-110--- pb-95 plr--9--- d-none---">
    <div class="container">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/1.png' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/2.png' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/3.png' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/4.png' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/5.png' %}" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="{% static 'img/brand-logo/3.png' %}" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->


    {% endblock content %}