<div class="ltn__category-area section-bg-1-- pt-50 pb-90">
    <div class="container">
        <div class="row ltn__category-slider-active-six slick-arrow-1 border-bottom">
            {% for i in sub_cat %}
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-6 text-center">
                    <div class="ltn__category-item-img">
                        <a href="{% url 'shop' i.id %}">
                            <i class="fas fa-notes-medical"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h6><a href="{% url 'shop' i.id %}">{{i.name}}</a></h6>
                    </div>
                </div>
            </div>
            {% endfor %}
          
            
        </div>
    </div>
</div>