{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="{% static 'img/slider/abcc.jpg' %}">
            <div class="ltn__slide-item-inner  text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span></h6>
                                    <h1 class="slide-title animated "> <br></h1>
                                    <div class="slide-brief animated">
                                        <p></p>
                                    </div>

                                    <div class="btn-wrapper animated">
                                        <a href="" class="theme-btn-1- btn-- btn-effect-1--"></a>
                                        {% comment %} <a href="shop.html" class="theme-btn-1 btn btn-effect-1"></a> {% endcomment %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="{% static 'img/slider/bg9.jpg' %}">
            <div class="ltn__slide-item-inner text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <div class="slide-video mb-50 d-none">
                                        <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/tlThdr3O5Qo" data-rel="lightcase:myCollection">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                    <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span> </h6>
                                    <h1 class="slide-title animated "> <br></h1>
                                    <div class="slide-brief animated">
                                        <p></p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a href="" class="theme-btn-1- btn-- btn-effect-1--"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60---" data-bs-bg="{% static 'img/slider/bg12.jpg' %}">
            <div class="ltn__slide-item-inner  text-right text-end">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-syringe"></i></span> </h6>
                                    <h1 class="slide-title animated "> <br></h1>
                                    <div class="slide-brief animated">
                                        <p></p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a href="" class="theme-btn-1- btn-- btn-effect-1--"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>


{% comment %} slide end  {% endcomment %}

{% comment %} editing start {% endcomment %}

<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-10 pb-10">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active mx-md-5">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item d-flex align-items-center">
                    <img src="{% static 'img/add/genuine-medicine.png' %}" alt="Brand Logo" style="width:38px; height:38px;">
                     <h3 class="fw-bolder mb-0 ms-1" style="color: #454545; font-size: 16px;">Genuine <br>Medicines</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item d-flex align-items-center">
                    <img src="{% static 'img/add/offer-img.png' %}" alt="Brand Logo" style="width:38px; height:38px;">
                    <h3 class="fw-bolder mb-0 ms-1" style="color: #454545; font-size: 16px;">Attractive <br>Discounts & Offers</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item d-flex align-items-center">
                    
                    <img src="{% static 'img/add/Timely-delivery.png' %}" alt="Brand Logo" style="width:38px; height:38px;">
                    <h3 class="fw-bolder mb-0 ms-1" style="color: #454545; font-size: 16px;">Timely<br>Delivery</h3>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item d-flex align-items-center">
                    
                    <img src="{% static 'img/add/payment.png' %}" alt="Brand Logo" style="width:38px; height:38px;">
                    <h3 class="fw-bolder mb-0 ms-1" style="color: #454545; font-size: 16px;">Easy<br>Payments</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item d-flex align-items-center">
                    {% comment %} <img src="{% static 'img/brand-logo/5.png' %}" alt="Brand Logo"> {% endcomment %}
                    <h3 class="fw-bolder mb-0 ms-1 text-warning " style="font-size: 16px;">FREE <span class="text-primary">Basic Health Checkup</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} editing end {% endcomment %}

{% comment %} <div class="ltn__category-area section-bg-1-- pt-25">
    <div class="container">
        <div class="row  border-bottom">
            <div class="col">
                <i class="fa-solid fa-truck-medical"></i> <h4>Genuine <br>Medicines</h4>
            </div>
            <div class="col">
                <i class="fa-solid fa-truck-medical"></i> <h4>Genuine <br>Medicines</h4>
            </div>
            <div class="col">
                <i class="fa-solid fa-truck-medical"></i> <h4>Genuine <br>Medicines</h4>
            </div>
            <div class="col">
                <i class="fa-solid fa-truck-medical"></i> <h4>Genuine <br>Medicines</h4>
            </div>
            <div class="col">
                <i class="fa-solid fa-truck-medical"></i> <h4>Genuine <br>Medicines</h4>
            </div>
        </div>
    </div>
</div> {% endcomment %}